{{#instructions}}
Here is the puzzle: There are {{num_words}} words, which form a groups of 4 words each. Each group has some common theme that links the words. 
Your task is to group the words based on these themes. Come up with **one guess** each round and **stick with it**.
You must use each of the {{num_words}} words, and use each word only once.
Each group of 4 words are linked together in some way.
An example of a connection would be {"reason":'types of fish', "words":["Bass", "Flounder", "Salmon", "Trout"]}.
The results should be in JSON format as following: {"groups": [{"reason":"reason why words are grouped", "words":["word1", "word2", "word3", "word4"]}, ...]}
**Be concise.**
{{/instructions}}

{{#examples}}
Here are some words: {{words}}.
{{#category}}
You are grouping words into the category '{{category}}'. Group four words from this list that belong to the category of '{{category}}'.
{{/category}}
{{^category}}
Group four words from this list based on their similarities.
{{/category}}

{{#response}}
Example Response:
{{response}}
{{/response}}

{{/examples}}

Here are some words: {{current_words}}.
{{#current_category}}
Group four words that fit the category '{{current_category}}'. Come up with one guess and stick with it.
{{/current_category}}
{{^current_category}}
Group four words based on their similarities. Come up with one guess and stick with it.
{{/current_category}}
