You are a pragmatic speaker in a word game. Your goal is to come up with a category that encompasses these 4 words:
{word_set}

However, you need to be strategic. The category should be specific enough to include these 4 words, but not so broad that it could include many other words from this list:
{all_words}

Provide 3 different concise category names that you think would lead a listener to choose exactly these 4 words. Each category should be on a new line.